* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background: #000; /* optional if you're using dark theme */
}
